body{
    background-image: conic-gradient(rgb(61, 61, 169), rgb(55, 86, 113), rgb(80, 168, 80)) ;
    background-repeat:no-repeat;
    background-size: contain;
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
}
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
 }
p{
    color: aliceblue;
    text-align: center;
}
/* Media query for smaller screens (e.g., screens narrower than iPhone 6 width) */
@media (max-width: 375px) {
    .message-container {
        padding: 10px;
    }
    .message-container img {
        width: 100px;
        height: 100px;
        margin-top: 5px;
    }
    #message-output{
        font-size: 14px;
        font-family: monospace;
        color: aliceblue;
    }
    
}

/* Media query for larger screens (e.g., screens wider than iPhone X) */
@media (min-width: 375px) {
    .message-container {
        padding: 30px; 
    }
    .message-container img {
        width: 250px; 
        height: 250px;
        margin-top: 15px;
    }
    #message-output{
        font-size: 24px;
        font-family: monospace;
        color: aliceblue;
    }
    
}
.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
img{
    border: none;
    border-radius: 50px;
}
/* .message-container {
    text-align: center;
    padding: 20px;
}
.message-container img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
 */
